.card {
    width: 150px;
    border: 6px solid rgb(173, 29, 29);
    padding: 10px;
    text-align: center;
    background: rgb(255, 255, 255);
    border-radius: 10px;
}
.card:hover{
    background: rgb(255, 153, 0);
    color: white;
}

.card img {
    width: 60px;
   
}

.ancor{
    color: #00d647;
    text-decoration: none;
}


.cards{
    margin: 100px;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width:600px) {

    .card{
        width: 70px;
    }

    .card img {
        width: 20px;
    }
    .ancor{
        color: transparent;
    }
    .cards{
        margin: 20px;
    }
   

}
