.itemCard{
    border: 2px solid grey;
    border-radius: 10px;
    box-shadow: 5px 5px 5px slategrey;
    margin: 15px;

}

.itemText{
    font-size: 2rem;
    text-align: center;
    color: #39383b;
}

.itemImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    padding: 10px;
}
.itemPrice{
    font-size: 4rem;
    color: rgb(161, 62, 4);
    text-align: center;
}

.item{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.button{
    width: 100%;
    margin: 5px, 8px;

}

@media screen and (max-width:800px) {
    .itemImage {
        width: 100px;
        height: 100px;
    }
    .itemPrice {
        font-size: 1.1rem;
    }
    .itemText{
        font-size: 1.5rem;
    }
    .item {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

@media screen and (max-width:600px) {
 
    .itemPrice {
        font-size: 1.3rem;
    }
    .itemText{
        font-size: 1rem;
    }
}

@media screen and (max-width:400px) {
    .itemImage {
        width: 70px;
        height: 70px;
    }
    .itemPrice {
        font-size: .9rem;
    }
    .item {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
    .itemText{
        font-size: 0.8rem;
    }
}