.itemCard{
    border: 2px solid grey;
    border-radius: 10px;
    box-shadow: 5px 5px 5px slategrey;
    margin: 15px;

}

.itemText{
    font-size: 2rem;
    text-align: center;
    color: #39383b;
}

.itemImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    padding: 10px;
}
.itemPrice{
    font-size: 4rem;
    color: rgb(161, 62, 4);
    text-align: center;
}

.item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.button{
    width: 100%;
    margin: 5px, 8px;

}