ul {
    width: 100%;
    background: rgb(189, 212, 141);
    border-radius: 5px;
    border: 2px dotted rgb(141, 168, 85);
}

ul div{
    display: flex;
}

ul div h3{
    width: 30%;
    font-size: 1.2rem;
    margin: auto;
}

ul div h4{
    margin: auto;
}